name: docs

on:
  push:
    branches: [main]
    paths:
      - ".github/workflows/docs.yml"
      - "doc/**"
      - "lua/**"
      - "README.md"
      - "scripts/**"
  workflow_dispatch:

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@v2
        id: generate-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - uses: actions/checkout@v4
        with:
          token: ${{ steps.generate-token.outputs.token }}

      - name: Install pandoc
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: pandoc
          version: 1.0

      - name: Generate vimdoc
        run: ./scripts/build-docs.sh

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore(doc): auto-generate vimdoc"
          file_pattern: "doc/*.txt"
