name: Build
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:
jobs:
  build:
    runs-on: ${{ matrix.os }}
    name: unit tests
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04]
        rev: [nightly]

    steps:
      - uses: actions/checkout@v4

      - uses: rhysd/action-setup-vim@v1
        with:
          neovim: true
          version: ${{ matrix.rev }}

      - uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Cache linters
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/selene
            /usr/local/bin/stylua
          key: linters-${{ runner.os }}-${{ hashFiles('Makefile') }}

      - name: Install dependencies
        run: make prepare

      - name: Run tests
        run: |
          nvim --version
          cd "$GITHUB_WORKSPACE"
          make test
